/*
  CREDITS (this looks nice, where'd you copy it from)

  https://jzhao.xyz/
  https://brandonkboswell.com/
*/

html {
  font-size: 1rem;
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

:root {
  --bg-color-main: #faf8f1;

  --headerFont: "Schibsted Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --codeFont: "JetBrains Mono", ui-monospace, SFMono-Regular, SF Mono, Menlo, monospace;
  --mainFont: "Bricolage Grotesque";
  --titleFont: "IBM Plex Sans", "Open Sans", sans-serif;
}

:root {
  --mark-color: #f8db75;
  --mark-skew: 0.25em;
  --mark-height: 1.2em;
  --mark-overlap: 0.4em;
}

.highlighted {
  margin-inline: calc(var(--mark-overlap) * -1);
  padding-inline: var(--mark-overlap);
  background-color: transparent;
  background-image: linear-gradient(to bottom right, transparent 50%, var(--mark-color) 50%), linear-gradient(var(--mark-color), var(--mark-color)), linear-gradient(to top left, transparent 50%, var(--mark-color) 50%);
  background-size: var(--mark-skew) var(--mark-height), calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height), var(--mark-skew) var(--mark-height);
  background-position: left center, center, right center;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  margin: auto;
  position: relative;
  padding-top: 5.125rem;
  font-family: var(--mainFont);

  background: var(--bg-color-main);
}

header {
  display: flex;
  position: fixed;
  top: 0px;
  padding: 0.75rem 0rem 0.75rem 0rem;
  width: 100%;
  margin: auto;
  background-color: var(--bg-color-main);
  border-bottom: 1.5px rgba(0, 0, 0, 0.55) solid;
  color: #64aa17;
  z-index: 10;
}

header #head_name {
  width: 30%;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--titleFont)
}

header.displaced {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.95);
  border-bottom: 1.5px transparent solid;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

label[for="menu_btn"] {
  position: absolute;
  top: 1.125rem;
  right: 0.35rem;
  display: none;
  cursor: pointer;
}

header nav {
  width: 65%;
  margin: 0;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  font-size: 1.125rem;
}

nav ul li {
  display: flex;
}

nav ul li a {
  color: #64aa17;
  margin: auto;
  padding: 1rem 0.75rem;
  text-align: center;
  overflow: visible;
  word-break: break-word;

  font-weight: 600;
  font-family: var(--codeFont);
}

nav ul li:last-child a {
  font-weight: 900;
  padding: 1rem 1.5rem;
  background: var(--bg-color-main);
}


/*

https://codepen.io/web-dot-dev/pen/BarmdyM
https://codepen.io/mike-schultz/pen/NgQvGO

*/
:root {
  --angle: 45deg;
  --opacity: 0.5;
}

.rainbow,
.rainbow::before,
.rainbow::after {
  box-sizing: border-box;
}

.rainbow {
  place-content: center;

  --border-width: 4px;

  border: var(--border-width) dotted transparent;

  background-image:
    linear-gradient(to right,
      rgb(255 255 255 / var(--opacity)),
      rgb(255 255 255 / var(--opacity))),
    linear-gradient(var(--angle), #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}


/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }


  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .rainbow {
    animation: rotate 5s linear infinite alternate-reverse;
  }
}


nav ul li a:hover {
  color: black;
}

section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 7rem;
  overflow: auto;
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

#skills {
  border-bottom: 0px rgba(0, 0, 0, 0.25) solid;
}

#skills-half {
  padding-top: 0;
  transform: scale3d(0.95, 0.95, 1);
}

#experience {}

#projects {}

#fifth {
  min-height: 15rem;
}

#contact {
  border-bottom: 0px rgba(0, 0, 0, 0.25) solid;
  min-height: 15rem;
}

span.bold {
  font-weight: 600;
}

span.bolder {
  font-weight: 900;
}

.section-header {
  font-size: 2.5rem;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: 700;

  text-decoration: underline;
  text-size-adjust: 100%;

  font-family: var(--headerFont);
}

#first .section-header {
  text-decoration: none;
  margin-bottom: 0rem;
}

.section-content {
  font-size: 1.25rem;
}

#first .section-content {
  line-height: 2rem;
}

.edu-item {
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.95);
}

.edu-head,
.edu-inst,
.edu-year,
.edu-marks {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.edu-head {
  width: 75%;
  font-size: 1.25rem;
  font-weight: 900;
}

.edu-inst {
  font-weight: 700;
  width: 75%;

  font-size: 1.25rem;
}

.edu-year {
  width: 20%;
  text-align: right;
}

.edu-marks {
  width: 20%;
  text-align: right;
}

.edu-info {
  font-size: 1rem;
  font-weight: normal;
  width: 95%;
  margin: auto;

  font-family: var(--codeFont);
}

.edu-info p {
  font-weight: bolder;
}

ul.two-three-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 1rem;
}

ul.two-three-col li {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  width: 30%;
}

ul.simpe-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 1rem;
}

ul.simpe-col li {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

#skill-list {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.skill-item,
.skill-item-small {
  padding: 1rem 0.25rem 0rem 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.85);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.125);
  width: 15%;
  text-align: center;
  background-color: white;
}

.skill-item-small {
  width: 15%;
}

.skill-item-image img {
  width: 50%;
}

.skill-item-name {
  margin-top: 0.5rem;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  font-weight: 600;
  border-top: 1px solid rgba(0, 0, 0, 0.85);
}

.skill-item-small .skill-item-name {
  font-size: 1rem;
}

.skill-item-small .skill-item-image img {
  width: 50%;
}


#projects .section-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  margin-bottom: 0.75rem;
  min-height: 200px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.125);
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.85);

}

.project-title {
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.85);
  margin-bottom: 1rem;
}

.project-desc {
  padding: 0rem 0rem 0.5rem 0rem;
  margin-bottom: 1rem;
}

.project-link {
  padding-top: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.85);
  text-align: center;
}

.project-link a {
  display: block;
  padding: 0.5rem 0.25rem;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.125);
  border: 1px solid rgba(0, 0, 0, 0.85);
}

.project-link a:hover {
  box-shadow: 2px 2px 7px 0px rgba(50, 50, 255, 0.25);
  border: 1px solid rgba(50, 50, 255, 0.85);
}

@media screen and (max-width: 720px) {
  body {
    padding-top: 5.125rem;
  }

  header {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  header #head_name {
    width: 100%;
  }

  header nav {
    border-top: 1.5px rgba(0, 0, 0, 0.55) solid;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }

  label[for="menu_btn"] {
    display: block;
  }

  input:checked~nav {
    display: block;
  }

  label[for="menu_btn"]::after {
    content: "\2261";
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Cambria", sans-serif;
    transform: scaleX(1.5);
  }

  input:checked~label[for="menu_btn"]::after {
    content: "×";
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    transform: scaleX(1);
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    width: 99%;
    display: flex;
  }

  nav ul li a {
    margin: auto;
    padding: 0.75rem 0rem;
    text-align: center;
    width: 100%;
    border-radius: 0px;
  }

  section {
    padding: 0rem 1rem;
  }

  .edu-head {
    width: 100%;
    order: 1;
  }

  .edu-inst {
    width: 100%;
    order: 1;
  }

  .edu-year {
    width: 45%;
    order: 3;
    text-align: left;
  }

  .edu-info {
    width: 100%;
    order: 5;
  }

  .edu-marks {
    width: 45%;
    order: 4;
    text-align: right;
  }

  ul.two-three-col li {
    width: 47.5%;
  }

  .section-header {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  #skill-list {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill-item,
  .skill-item-small {
    padding: 1rem 0.25rem 0rem 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.125);
    width: 30%;
    text-align: center;
  }

  .skill-item-small {
    width: 25%;
  }

  .project {
    width: 95%;
    margin-bottom: 0.75rem;
    min-height: 200px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.125);
    padding: 1rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
  }
}

@media screen and (max-width: 360px) {
  header #head_name {
    width: 90%;
  }
}

code {
  background: #eee;
  padding: 0px 5px;
}
