/*==============================================\
RESET
\==============================================*/
ul{
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:visited{
  color: inherit;
}
body{
  margin: 0px;
}
/*==============================================*/
/* -- Vertical centering -- */
.y_align{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*==============================================*/
body{
  font-family:monospace,sans-serif,"Consolas";
}
#body_header , section ,footer#body_footer{
	padding: 1.5% 2.75% 2% 2.75%;
}

#body_header{
  display: flex;
  justify-content: space-between;
}
div.logo_header{
  width: 30%;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing:0.1rem;
}
div.nav_header{
  width: 60%;
}
ul.nav_header{
  display: flex;
  justify-content: flex-end;
}
ul.nav_header a{
  width: 19.5%;
  padding: 1% 1%;
  text-align: center;
  border-bottom: 3.5px white  solid;
  box-sizing: border-box;
  margin-left:3%;
  transition:border-bottom-color 0.275s ease-in;
  overflow: visible;
  font-weight: lighter;
  font-size:0.75rem;
  word-break: break;
}
ul.nav_header a:hover{
  border-bottom-color:rgba(0,0,0,0.75);
}
section{
  background-attachment:fixed;
  display: flex;
  flex-direction: column;
  height:40rem;
  justify-content: space-around;
}
section.left{
  background-color: #D30000;
}
section.right{
  background-color: #0f4569;
}

header.header_section{
  font-weight:bold;
  font-size: 3rem;
  padding:.5% 1.5%;
}
section.left>header.header_section{
	align-self:flex-start;
	color:white;
	background-color:rgba(0, 0, 0, 0.75);
}
section.right>header.header_section{
	align-self:flex-end;
	color:white;
	background-color:rgba(0, 0, 0, 0.75);
}
section main{
  height: 75%;
  padding: 1.5% 1.5%;
  background-color: red;
}

@media screen and (max-width:480px) {
  header#body_header{
    flex-direction: column;
  }
  div.logo_header{
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  div.nav_header{
    width: 100%;
  }
  ul.nav_header{
    width: 100%;
    flex-direction: column;
  }
  ul.nav_header a{
    width: 100%;
    padding: 2% 1%;
    margin:auto;
    border-bottom: 0px;
    background-color: rgba(245,245,245,0.75);
    border-left: 3.5px rgba(245,245,245,0.75)  solid;
    border-right: 3.5px rgba(245,245,245,0.75)  solid;
    transition:border-color 0.275s ease-in;
  }
  ul.nav_header a:focus{
    background-color: rgba(235,235,235,0.75);
    border-color:rgba(0,0,0,0.75);
  }
  section.right>header.header_section,section.left>header.header_section{
    text-align:center;
    width:100%;
    margin: auto;
    font-size: 2rem;
    padding:.5% .5%;
  }
  section main{
    height: 85%;
  }
}
